################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MyNotePad/.vs/MyNotePad/FileContentIndex/dac61071-19c2-49a5-b70b-cea3b84478a4.vsidx
/MyNotePad/.vs/MyNotePad/FileContentIndex/64591faa-3a47-461f-a82b-c181b5044bb6.vsidx
