################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MyNotePad/.vs/MyNotePad/FileContentIndex/dac61071-19c2-49a5-b70b-cea3b84478a4.vsidx
